
@{
    ViewData["Title"] = "Home Page";
}
@model QuotingDojo.Models.Quote

<div class="container">
    <h3>Welcome to Quoting Dojo</h3>
    <form class='big_form' asp-controller="Home" asp-action="Result" method="POST">
        <div class="form-group">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name"></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" asp-for='Name' value="">
        </div>
        <div class="form-group">
            <span asp-validation-for="QuoteString"></span>
            <label asp-for="QuoteString"></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" asp-for='QuoteString' value="">
        </div>
        <button type="submit" value='submit' class="btn btn-primary">Submit Quote</button>
        <a class='btn btn-secondary' href="/quotes">View Quotes</a>
    </form>
</div>